
nav {
  max-width: max-content;
  margin: auto;
}
h1 {
  font-size: 3em;
  -webkit-text-stroke: 1.7px #FFB81C;
  margin: 10px;
  font-variant: small-caps;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em
}
body {
  font-size: 1.5em;
}
h1, h2, h3 {
  font-family: Montserrat, sans-serif;
}
h1, h2, h3, p {
  text-align: center;
  color: #003594;
}
h2 {
  margin-bottom: 25px;
  margin-top: 150px;
}
p {
  margin: 10px;
}
.centered {
  margin: 0 auto;
  display: block;
}
.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  color: #FFF;
  background-color: #FFB81C;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border: 2px solid #FFB81C;
  border-radius: 15px;
  float: left;
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color:#003594 ;
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;
}
.row {
  display: flex;
  justify-content: space-around;
}
.member-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.facecard {
  margin: 0 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
